.App {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  font-family: Verdana, serif;
}

.App-header {
  background-color: #fff;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: #333;
  font-weight: 300;
  font-family: Arial, serif;
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 24px;
  max-height: 24px;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  font-size: 13px;
  margin-bottom: 10px;
}

.flex-container > div {
  width: 19%;
  text-align: center;
  padding: 5px;
}

select {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ddd;
  background-color: #fff;
  height: 100%;
  outline: none;
}

.flex-container > .profile {
  width: 24%;
  min-width: 24%;
  text-align: left;
}

.container-input {
  border: 1px solid #ddd;
  border-radius: 3px;
}

textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  resize: none;
  padding: 5px;
  font-size: 13px;
  overflow: auto;
  margin: 10px 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.tombol-simpan {
  background-color: #222;
  text-align: right;
  color: #fff;
  padding: 10px;
  margin: 10px 0;
  font-family: Verdana, serif;
}

.tombol-simpan:hover {
  background-color: #555;
}

.text-right {
  text-align: right;
}